*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.container{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, lightgoldenrodyellow, hsl(64, 94%, 54%));
}

.list-card{
  background: linear-gradient(-135deg, lightgoldenrodyellow, hsl(64, 94%, 54%));
  width: 520px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

h1{
  font-size: 2.5rem;
}

input{
  width: 400px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 12px 10px;
  margin-bottom: 20px;
}

button{
  outline: none;
  border: none;
  padding: 12px;
  background-color: hsl(120, 72%, 62%);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

button:hover{
  background-color: hsl(120, 72%, 52%); 
}

ol{
  user-select: none;
  padding: 0;
  list-style: none;
}

.list{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.task-list{
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-del{
  width: 14px;
  height: 14px;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: transparent;
  /* background-color: hsla(0, 97%, 50%, 0.692); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.btn-del:hover{
  background-color: hsl(0, 97%, 40%);
}